<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="user" value="fullname@epam.com"/>
    <add key="password" value="password"/>
    <add key="uri" value="https://telescope.epam.com/rest/e3s-eco-scripting-impl/0.1.0"/>
  </appSettings>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
</startup>
</configuration>
